version 6.0.0-beta8
framework: net5.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 5.0

nuget NAudio 1.10 // ~> 2.0.0-beta1
nuget FSharp.SystemTextJson ~> 0.15
git https://github.com/fc1943s/Elmish.Bridge.git experiments build: "cmd /C \"dotnet tool restore && dotnet paket restore\""
git https://github.com/fc1943s/soundfingerprinting.audio.bass.git develop
git https://github.com/fc1943s/SoundFingerprinting.Extensions.LMDB.git master

// MechaHaze.CoreCLR
nuget Ply ~> 0.3
nuget Newtonsoft.Json ~> 12.0
nuget Destructurama.FSharp ~> 1.1 prerelease
nuget Serilog.Sinks.Console ~> 4.0 prerelease
nuget Argu ~> 6.1
nuget FSharp.Data ~> 3.3
nuget Tomlyn ~> 0.1
nuget MathNet.Numerics.FSharp ~> 4.15

// MechaHaze.Daemon.AudioListener
nuget Elmish ~> 4.0 prerelease

// MechaHaze.Daemon.FeatureDispatcher
nuget VL.IO.OSC ~> 2020.3.100-alpha prerelease
nuget CoreOSC ~> 1.0

// MechaHaze.IO
nuget EasyNetQ ~> 6.4 prerelease

// MechaHaze.Shared
nuget FSharpPlus ~> 1.2 prerelease
nuget Serilog ~> 2.10 prerelease

// MechaHaze.Testing
nuget Expecto ~> 9.0

// MechaHaze.UI.Backend
nuget Saturn ~> 0.14

// MechaHaze.UI.Backend.ElmishBridge
nuget Giraffe.SerilogExtensions ~> 1.3
nuget Thoth.Json.Giraffe ~> 4.2

// MechaHaze.UI.Frontend.ElmishBridge
nuget Fable.Elmish.HMR ~> 4.1
nuget Fable.Elmish.React ~> 3.0
nuget Feliz.Recoil.Bridge ~> 0.19

// MechaHaze.UI.Frontend.React
nuget Fable.Core // ~> 4.0 prerelease
nuget Feliz ~> 1.32

// MechaHaze.UI.Frontend
nuget Fable.FontAwesome.Free ~> 2.0
nuget Zanaptak.TypedCssClasses ~> 0.2
nuget Fulma.Extensions.Wikiki.PageLoader ~> 2.0
nuget Fulma.Extensions.Wikiki.Slider ~> 2.0

// Build
nuget Fake.Core.Target ~> 5.20 prerelease
nuget Fake.DotNet.Cli ~> 5.20 prerelease
nuget Fake.IO.FileSystem ~> 5.20 prerelease

